/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
 */

 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,500;1,600;1,700;1,800&display=swap');


.book-section{
    margin-top: -10rem !important;
}

html{
    background-color:#f9f9f9;
}

body{
    font-family: Open Sans !important;
}

h1,h2,h3,h4,h5,h6{
    font-family: Open Sans !important;
    color:#0B2C3D;
}

#profile-tab > li.active button{
    color: red;
}

li button[aria-selected="true"]{
    color: #38C5E3;
}
li button[aria-selected="true"]:hover{
    color: #38C5E3;
}


.slides-container {
	-ms-overflow-style: none; /* Internet Explorer 10+ */
	scrollbar-width: none; /* Firefox */
}
.slides-container::-webkit-scrollbar {
	display: none; /* Safari and Chrome */
}


.bg-1{
    background-image:url('../img/ap-3.png');
}
.bg-2{
    background-image:url('../img/ap-4.png');
}
.bg-3{
    background-image:url('../img/ap-5.png');
}
