---
import { Image } from "astro:assets";
// import Logo from "../img/logo/Logo.png";
import C1 from "../img/c1.png";
import C2 from "../img/c2.png";
import C3 from "../img/c3.png";
---

<footer class="bg-Primary-Black dark:bg-gray-900 mt-40">
  <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
    <div class="md:flex md:justify-between">
      <div class="mb-6 md:mb-0">
        <!-- <a href="/src/pages/index.astro" class="flex items-center">
          <Image
            src={Logo}
            alt="A bird sitting on a nest of eggs."
            width="160"
            class="mb-8"
          />
        </a> -->
        <div class="flex space-x-4">
          <a class=""><img src="/src/img/linkedin.png" class="h-10" alt="" /></a
          >
          <a class=""><img src="/src/img/facebook.png" class="h-10" alt="" /></a
          >
          <a class=""><img src="/src/img/twitter.png" class="h-10" alt="" /></a>
          <a class=""
            ><img src="/src/img/instagram.png" class="h-10" alt="" /></a
          >
        </div>
        <ul class="mt-8">
          <li>
            <a
              href="https://tailwindcss.com/"
              class="hover:underline text-white"
              >Short Stay Citizens uses CM.com <br /> as the preferred payment
              provider.</a
            >
          </li>
        </ul>
      </div>
      <div class="grid grid-cols-2 gap-8 sm:gap-12 sm:grid-cols-3">
        <div>
          <ul class="text-Primary-Color font-semibold space-y-2">
            <li class="mt-8">
              <a href="https://flowbite.com/" class="hover:underline"
                >OUR SERVICES</a
              >
            </li>
            <li>
              <a href="https://tailwindcss.com/" class="hover:underline"
                >ABOUT US</a
              >
            </li>
            <li>
              <a href="https://tailwindcss.com/" class="hover:underline"
                >CONTACT US</a
              >
            </li>
            <li>
              <a href="https://tailwindcss.com/" class="hover:underline"
                >FOR PROVIDERS</a
              >
            </li>
            <div class="flex space-x-4">
              <span>
                <Image
                  src={C1}
                  alt="A bird sitting on a nest of eggs."
                  width="64"
                /></span
              >
              <span>
                <Image
                  src={C2}
                  alt="A bird sitting on a nest of eggs."
                  width="56"
                /></span
              >
              <span>
                <Image
                  src={C3}
                  alt="A bird sitting on a nest of eggs."
                  width="64"
                /></span
              >
            </div>
          </ul>
        </div>
        <div>
          <ul class="text-Primary-Color font-semibold space-y-2">
            <li class="mt-8">
              <a href="https://flowbite.com/" class="hover:underline"
                >Cookie policy</a
              >
            </li>
            <li>
              <a href="https://tailwindcss.com/" class="hover:underline"
                >Privacy Policy</a
              >
            </li>
            <li>
              <a href="https://tailwindcss.com/" class="hover:underline"
                >Terms and Conditions</a
              >
            </li>
          </ul>
        </div>
        <div>
          <ul class="text-Primary-Color font-semibold space-y-2 mt-8">
            <li>
              <a
                href="https://tailwindcss.com/"
                class="hover:underline flex items-center"
                ><span
                  ><img src="/src/img/l1.png" alt="" class="h-4 mr-2" /></span
                >+31 (0)107 670 574</a
              >
            </li>
            <li>
              <a
                href="https://tailwindcss.com/"
                class="hover:underline flex items-center"
                ><span
                  ><img src="/src/img/l2.png" alt="" class="h-4 mr-2" /></span
                >+316 424 731 50</a
              >
            </li>
            <li>
              <a
                href="https://tailwindcss.com/"
                class="hover:underline flex items-center"
                ><span
                  ><img src="/src/img/l3.png" alt="" class="h-4 mr-2" /></span
                >enquire@shortstaycitizens.com</a
              >
            </li>
            <li>
              <a
                href="https://tailwindcss.com/"
                class="hover:underline flex items-top text-white"
                ><span
                  ><img src="/src/img/l4.png" alt="" class="h-4 mr-2" /></span
                >Blaak 22 3011 TA Rotterdam <br /> The Netherlands</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
    <div class="sm:flex sm:items-center sm:justify-between">
      <span class="text-sm text-gray-200 sm:text-center dark:text-gray-400"
        >Short Stay Citizens B.V. © 2023 <a
          href="https://flowbite.com/"
          class="hover:underline"></a> All Rights Reserved.
      </span>
    </div>
  </div>
</footer>
