<script>
  console.log('try')
  const url = 'https://tomcat-staging.younggloballiving.com:8443//api/v2/provider_department?pageNumber=0&totalResults=100&providerKinds=HOSPITALITY&city=<cityId>'
  const token ='414d5845-b729-44e8-8776-2a901e18ee3a'
fetch(url, {
  method: 'GET',
  headers: {
    'Authorization': token  // You may also try 
    //'Authorization': `Bearer ${token}`
  },
})
  .then(response => {
    if (!response.ok) {
      throw new Error(`HTTP error! Status: ${response.status}`);
    }
    return response.json();
  })
  .then(data => {
    console.log(data);
  })
  .catch(error => {
    console.error('Fetch error:', error);
  });

</script>

<section
  class="bg-center bg-cover bg-no-repeat bg-[url('/src/img/hero2.png')] bg-gray-500 bg-blend-multiply"
>
  <div class="px-4 mx-auto max-w-screen-xl text-center py-24 lg:py-72">
    <h1
      class="mb-4 text-4xl font-medium tracking-tight leading-none text-white md:text-5xl lg:text-7xl"
    >
      APARTMENTS WITH STYLE
    </h1>
    <p
      class="mb-8 text-lg font-base text-gray-200 lg:text-xl sm:px-16 lg:px-48"
    >
      Elevate Your Lifestyle: Luxury Apartment Rentals Await
    </p>
  </div>
</section>

<div
  class="book-section pl-2 pr-2 lg:pl-10 lg:pr-10 max-[767px]:pl-5 max-[767px]:pr-5 pt-16 lg:pt-0"
>
  <div class="ml-auto mr-auto w-full max-w-screen-xl">
    <div
      class="grid-rows-[auto] grid-cols-[1fr_1fr_1fr] grid w-full auto-cols-[1fr] items-center gap-6 rounded-[24px] bg-Primary-Color p-8 lg:p-[2.75rem] max-[767px]:grid-cols-[1fr_1fr_1fr] max-[767px]:gap-12 max-[479px]:grid-cols-[1fr] max-[479px]:gap-8"
    >
      <div
        id="w-node-_17d9f4ef-2c09-ce8f-666a-2c1694ef209b-25f8d583"
        class="flex items-center justify-center [grid-area:span_1_/_span_1_/_span_1_/_span_1]"
      >
        <h1
          class="mb-2 lg:mb-8 text-2xl font-bold text-Primary-Blue text-start lg:text-2xl sm:px-16"
        >
          Book your next stay and experience Amsterdam with Prince Island by
          <span class="text-white">YAYS</span>
        </h1>
      </div>
      <div
        id="w-node-_17d9f4ef-2c09-ce8f-666a-2c1694ef209b-25f8d583"
        class="flex items-center justify-center [grid-area:span_1_/_span_1_/_span_1_/_span_1]"
      >
        <div date-rangepicker class="lg:flex items-center">
          <div class="relative">
            <div
              class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
            >
              <svg
                class="w-4 h-4 text-gray-500 dark:text-gray-400"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 20 20"
              >
                <path
                  d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"
                ></path>
              </svg>
            </div>
            <input
              name="start"
              type="text"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-[300px] lg:w-[200px] pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Select date start"
            />
          </div>
          <span class="hidden lg:block mx-4 text-white">to</span>
          <div class="relative">
            <div
              class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
            >
              <svg
                class="w-4 h-4 text-gray-500 dark:text-gray-400"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 20 20"
              >
                <path
                  d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"
                ></path>
              </svg>
            </div>
            <input
              name="end"
              type="text"
              class="mt-4 lg:mt-0 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-[300px] lg:w-[200px] pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Select date end"
            />
          </div>
        </div>
      </div>

      <div
        id="w-node-_17d9f4ef-2c09-ce8f-666a-2c1694ef209b-25f8d583"
        class="flex items-center justify-center space-x-3 [grid-area:span_1_/_span_1_/_span_1_/_span_1]"
      >
        <button
          type="button"
          class="text-white bg-Primary-Blue hover:bg-Primary-Text transition-all hover:text-Primary-Blue focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
          >Book Now</button
        >
        <button
          type="button"
          class="text-white bg-Primary-Blue hover:bg-Primary-Text transition-all hover:text-Primary-Blue focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
          >Back to Amsterdam</button
        >
      </div>
    </div>
  </div>
</div>
