<section
  class="bg-center bg-cover bg-no-repeat bg-[url('/src/img/hero1.png')] bg-gray-500 bg-blend-multiply lg:mt-40"
>
  <div class="px-4 mx-auto max-w-screen-xl text-center py-24 lg:py-72">
    <h1
      class="mb-4 text-4xl font-medium tracking-tight leading-none text-white md:text-5xl lg:text-7xl"
    >
    </h1>
    <p
      class="mb-8 text-lg font-normal text-gray-300 lg:text-xl sm:px-16 lg:px-48"
    >
    </p>
  </div>
</section>

<div class="book-section pl-10 pr-10 max-[767px]:pl-5 max-[767px]:pr-5">
  <div class="ml-auto mr-auto w-full max-w-screen-xl">
    <div
      class="items-center gap-6 rounded-[24px] bg-Primary-Color p-[2.75rem] max-[479px]:gap-8"
    >
      <div
        id="w-node-_17d9f4ef-2c09-ce8f-666a-2c1694ef209b-25f8d583"
        class="flex items-center justify-center"
      >
        <p
          class="mb-8 text-sm font-normal text-white text-start lg:text-base sm:px-16"
        >
          As YAYS say - welcome to the neighbourhood! And with that, we both
          agree. While staying at YAYS, you don't just visit a city, you get to
          experience the city as a local. Their concierge boutique apartments
          are located in the most delightful neighbourhoods of Amsterdam, with
          quick access to the loveliest shops, boutiques, exquisite restaurants,
          bars, and charming secret spots yet undiscovered by tourists. Prince
          Island by YAYS, a part of YAYS group, is located right on the
          Bickersgracht canal, just like a real Amsterdam stay is supposed to
          be. The spot is also historic - long before the Prince Island by YAYS
          building was built, there was an impressive church, however during the
          construction of a railway track the church was damaged by vibrations,
          leaving no other choice but to tear the building down in 1950.

          <span class="text-Primary-Text">YAYS</span>
        </p>
      </div>
    </div>
  </div>
</div>
