---
import Swiper from "../components/Swiper.astro";
---

<div
  id="app"
  class="max-w-screen-xl mx-auto px-4 md:px-8 py-12 transition-all duration-500 ease-linear lg:py-40"
>
  <div class="px-4 mx-auto max-w-screen-xl text-center py-16">
    <h1
      class="mb-4 text-4xl font-medium tracking-tight leading-none text-Primary-Blue md:text-5xl lg:text-6xl"
    >
      Apartments Gallery<span class="text-Primary-Accent">.</span>
    </h1>
  </div>
  <Swiper />
</div>
