---
import { Image } from "astro:assets";
import Ico1 from "../img/i1.png";
import Ico2 from "../img/i2.png";
import Ico3 from "../img/i3.png";
---

<section>
  <!-- Container -->
  <div
    class="mx-auto w-full max-w-screen-xl px-5 py-16 md:px-10 md:py-24 lg:py-32"
  >
    <!-- Title -->
    <div class="px-4 py-16 mx-auto max-w-screen-xl text-center">
      <h1
        class="mb-4 text-4xl font-medium tracking-tight leading-none text-Primary-Blue md:text-5xl lg:text-6xl"
      >
        Amenities<span class="text-Primary-Accent">.</span>
      </h1>
    </div>
    <!-- List -->
    <ul class="grid gap-5 sm:grid-cols-2 md:grid-cols-3 md:gap-16">
      <li
        class="bg-1 flex flex-col items-center gap-6 border-r-[1px] px-10 py-8 h-[500px] bg-cover bg-blend-multiply bg-[#566E78] rounded-2xl max-[767px]:p-8 max-[767px] cursor-pointer transform
        transition duration-1000 hover:scale-95"
      >
        <Image
          src={Ico1}
          alt="apartment img"
          width="64"
          class="inline-block mt-8"
        />
        <!-- <img src="/src/img/i1.png" alt="" class="inline-block h-16 mt-8" /> -->
        <ul class="text-center text-white font-semibold text-lg">
          <li>Utensils</li>
          <li>Double bed</li>
          <li>Flatscreen TV</li>
          <li>Late checkout</li>
          <li>Private bathroom</li>
          <li>Sofa chair</li>
          <li>Toiletries</li>
          <li>Towels</li>
        </ul>
      </li>
      <li
        class="bg-2 flex flex-col items-center gap-6 border-r-[1px] px-10 py-8 h-[500px] bg-cover bg-blend-multiply bg-[#566E78] rounded-2xl max-[767px]:p-8 max-[767px] cursor-pointer transform
        transition duration-1000 hover:scale-95"
      >
        <Image
          src={Ico2}
          alt="apartment img"
          width="64"
          class="inline-block mt-8"
        />
        <ul class="text-center text-white font-semibold text-lg">
          <li>Own living room</li>
          <li>Tea and coffee</li>
          <li>Shower</li>
          <li>Bathtub</li>
          <li>Hair dryer</li>
          <li>Wardrobe</li>
          <li>Sofa</li>
          <li>Terrace</li>
        </ul>
      </li>
      <li
        class="bg-3 flex flex-col items-center gap-6 border-r-[1px] px-10 py-8 h-[500px] bg-cover bg-blend-multiply bg-[#566E78] rounded-2xl max-[767px]:p-8 max-[767px] cursor-pointer transform
        transition duration-1000 hover:scale-95"
      >
        <Image
          src={Ico3}
          alt="apartment img"
          width="64"
          class="inline-block mt-8"
        />
        <ul class="text-center text-white font-semibold text-lg">
          <li>Dryer</li>
          <li>Fully Equipped Kitchen</li>
          <li>Private bedroom</li>
          <li>Twin beds</li>
          <li>Dining Table</li>
          <li>Bed linen</li>
          <li>Early checkin</li>
          <li>Free WiFi</li>
        </ul>
      </li>
    </ul>
  </div>
</section>
